<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>StockAutoSync</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='graphql-stats.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='app-tabs.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='shipping-rates.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='order-lookup.css') }}" />

    <script src="https://unpkg.com/@shopify/app-bridge@3"></script>
    <script src="https://unpkg.com/@shopify/app-bridge-utils@3"></script>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>

<body data-api-key="{{ api_key }}">
    <div id="root"></div>
</body>

</html>
